{% extends "index.html" %}

{% block content %}
            <h1 class="mt-4">Přiřadit hosta do komorního souboru: {{ensemble_player.ensemble.name}}</h1>
            <div class="row">
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header">
                            Informace o souboru
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <!-- First Column - Bigger Column for Title and Composition Details -->
                                <p>Studovaná kompozice</p> <!-- Title Row -->
                                <b>{{ ensemble_player.ensemble.composition.composer_full_name }} - {{
                                    ensemble_player.ensemble.composition.name
                                    }}</b> <!-- Composer and Composition Name -->

                            </div>
                            <hr>
                            <div class="row">
                                <p>Obsazení:
                                    <b>{{ensemble_player.ensemble.composition.instrumentation_text if
                                        ensemble_player.ensemble.composition else ""}}</b>
                                </p>
                                <p>Počet hráčů:
                                    {{ensemble_player.ensemble.count_ensemble_players}}</p>
                                {% if not ensemble_player.ensemble.no_assigned_student %}
                                <p>Obsazených studentů: {{ensemble_player.ensemble.count_assigned_students}}</p>
                                {%endif%}
                                <p>Kompletnost:
                                <div class="col">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar"
                                            style="width: {{ ensemble_player.ensemble.player_completeness }}%;"
                                            aria-valuenow="{{ ensemble_player.ensemble.player_completeness }}"
                                            aria-valuemin="0" aria-valuemax="100">
                                            {{ ensemble_player.ensemble.player_completeness }}%
                                        </div>
                                    </div>
                                </div>
                                <b>{% if ensemble_player.ensemble.missing_instruments %}
                                    (chybí:
                                    {% for i in ensemble_player.ensemble.missing_instruments %}
                                    {{ i }}{% if not loop.last %}, {% endif %}{% endfor %}){% endif %}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <form method="POST"
                action="{{ url_for('ensemble.assign_guest', ensemble_player_id=ensemble_player.id) }}">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-book me-1"></i>
                        Vyberte hosta
                    </div>
                    <div class="card-body">
                        <!-- Tabulka Basic -->
                            <table id="datatableGuests">
                                <thead>
                                    <tr>
                                        <th>Vybrat</th>
                                        <th>Příjmení</th>
                                        <th>Jméno</th>
                                        <th>Nástroj</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Vybrat</th>
                                        <th>Příjmení</th>
                                        <th>Jméno</th>
                                        <th>Nástroj</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for guest in guests %}
                                    <tr>
                                        <td>
                                            <input type="radio" name="selected_guest_id" value="{{ guest.id }}">
                                        </td>
                                        <td>{{guest.last_name}}</td>
                                        <td>{{guest.first_name}}</td>
                                        <td>{{guest.instrument.name}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    <button type="submit" class="btn btn-primary">Přiřadit hosta</button>
                        </div>

                </div>
            </form>





    <!-- Student JavaScript table settings -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const dataTable = new simpleDatatables.DataTable("#datatableGuests", {
                labels: {
                    placeholder: "Hledat",
                    perPage: "záznamů na stránku",
                    noRows: "Žádné záznamy k zobrazení",
                    info: "Zobrazeno {start} až {end} z {rows} záznamů",
                    loading: "Načítání...",
                    next: "Další",
                    previous: "Předchozí",
                },
                perPage: 10,
                perPageSelect: [10, 20, 30, 40, 50],
                searchable: true,
            });
        });
    </script>
{% endblock %}