{% extends "index.html" %}

{% block content %}
    {% include "/elements/ensemble_detail_breadcrumb.html" %}
    <h3 class="mt-4">Detail komorního souboru: {{ ensemble.name }}</h3>
    <!-- Info section -->
    <div class="row">
        <div class="col-12">
            <p class="fs-5 text-muted">Informace o komorním souboru</p>
        </div>

        <div class="col col-md-8 col-lg-6">
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Informace o souboru</h5>
                </div>
                <div class="card-body">

                    <div class="mb-4">
                        <h6 class="text-muted">Zadané skladby ke studiu</h6>
                        {% if ensemble.active_ensemble_assignments %}
                            {% for a in ensemble.active_ensemble_assignments %}
                                {% if not a.ended %}
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <span>{{ a.composition.composer.full_name }} - {{ a.composition.name }}</span>
                                        <div>
                                            <a href="{{ url_for('ensemble.assign_composition', ensemble_id=ensemble.id) }}"
                                               class="btn btn-primary btn-sm me-2">
                                                <i class="fas fa-edit"></i> Změnit
                                            </a>
                                            <form method="POST"
                                                  action="{{ url_for('ensemble.unassign_composition', ensemble_id=ensemble.id, ensemble_assignment_id=a.id) }}"
                                                  class="d-inline">
                                                <button type="submit" class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash"></i> Odebrat
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            Žádné skladby
                            <a href="{{ url_for('ensemble.assign_composition', ensemble_id=ensemble.id) }}"
                               class="btn btn-outline-success btn-sm">
                                Zadat
                            </a>
                        {% endif %}
                    </div>


                    <hr>

                    <div class="mb-4">
                        <h6 class="text-muted">Obsazení a hráči</h6>
                        <p><b>{{ ensemble.instrumentation_text }}</b></p>
                        <p>Počet hráčů: {{ ensemble.count_ensemble_players }}</p>
                        {% if not ensemble.no_assigned_student %}
                            <p>Obsazených studentů: {{ ensemble.count_assigned_students }}</p>
                        {% endif %}
                    </div>

                    <div class="mb-4">
                        <h6 class="text-muted">Kompletnost</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: {{ ensemble.student_completeness }}%;"
                                 aria-valuenow="{{ ensemble.student_completeness }}" aria-valuemin="0"
                                 aria-valuemax="100">
                                {{ ensemble.student_completeness }}%
                            </div>
                        </div>
                        {% if ensemble.missing_instruments %}
                            <small class="text-danger">
                                Chybí:
                                {% for i in ensemble.missing_instruments %}
                                    {{ i }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </small>
                        {% endif %}
                    </div>

                    <hr>

                    <div>
                        <h6 class="text-muted">Pedagog</h6>
                        {% if ensemble.teacher_assignments %}
                            {% for a in ensemble.teacher_assignments %}
                                {% if not a.ended %}
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <span>{{ a.teacher.name }}</span>
                                        <form method="post"
                                              action="{{ url_for('ensemble.unassign_teacher', teacher_assignment_id=a.id) }}">
                                            <button class="btn btn-sm btn-outline-danger">
                                                <i class="fas fa-minus me-1"></i>
                                                Odebrat</button>
                                        </form>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <a href="{{ url_for('ensemble.assign_teacher', ensemble_id=ensemble.id) }}"
                               class="btn btn-outline-info btn-sm">
                                <i class="fas fa-plus me-1"></i> Přiřadit dalšího pedagoga
                            </a>
                        {% else %}
                            Žádný pedagog
                            <a href="{{ url_for('ensemble.assign_teacher', ensemble_id=ensemble.id) }}"
                               class="btn btn-outline-info btn-sm">
                                <i class="fas fa-plus me-1"></i>Přiřadit
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- EnsemblePlayer section -->
    <div class="row">
        <h5 class="mb-4">Členové souboru</h5>

        <!-- Loop through players -->
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <thead>
                <tr>
                    <th scope="col">Student</th>
                    <th scope="col">Nástroj</th>
                    <th scope="col">Ročník</th>
                    <th scope="col">Katedra</th>
                    <th scope="col">Akce</th>
                </tr>
                </thead>
                <tbody>
                {% for player in ensemble.ensemble_players %}
                    <tr>
                        <td>
                            {% if player.active_student %}
                                <b>{{ player.active_student.last_name }} {{ player.active_student.first_name }}</b>
                            {% else %}
                                Tento hráč nemá přiřazeného studenta.
                            {% endif %}
                        </td>
                        <td>
                            {% if player.active_student %}
                                <b>{{ player.active_student.instrument.name }}</b>
                            {% else %}
                                {{ player.instrument.name if player.instrument.name else "Není vyplněn nástroj hráče" }}
                            {% endif %}
                        </td>
                        <td>
                            {% if player.active_student %}
                                <b>{{ player.active_student.class_year.number }}. {{ player.active_student.study_program.name }}</b>
                            {% endif %}
                        </td>
                        <td>
                            {% if player.active_student %}
                                <b>{{ player.active_student.department.name }}</b>
                            {% endif %}
                        </td>
                        <td class="text-end">
                            <div class="d-inline-block">
                                {% if player.active_student %}
                                    <!-- Remove Student -->
                                    <form method="POST" class="d-inline"
                                          action="{{ url_for('ensemble.unassign_student', active_student_assignment=player.active_student_assignment.id) }}">
                                        <button class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash me-1"></i> Odebrat studenta
                                        </button>
                                    </form>
                                {% else %}
                                    <!-- Assign Student -->
                                    <a href="{{ url_for('ensemble.assign_student', ensemble_player_id=player.id) }}"
                                       class="btn btn-success btn-sm">
                                        <i class="fas fa-plus me-1"></i> Přiřadit studenta
                                    </a>
                                {% endif %}

                                <!-- Delete Ensemble Player -->
                                <form method="POST" class="d-inline"
                                      action="{{ url_for('ensemble.delete_ensemble_player', ensemble_player_id=player.id) }}">
                                    <button type="submit" class="btn btn-secondary btn-sm">
                                        <i class="fas fa-trash me-1"></i> Odstranit
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <!-- Add New Ensemble Player -->
                <tr>
                    <td colspan="5" class="text-center">
                        <form method="POST"
                              action="{{ url_for('ensemble.add_ensemble_player', ensemble_id=ensemble.id) }}">
                            <button class="btn btn-success">
                                <i class="fas fa-plus me-1"></i> Přidat dalšího hráče
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
