{% extends "index.html" %}

{% block content %}
    {% include "/elements/ensemble_detail_breadcrumb.html" %}
    <h3 class="mt-4">Detail komorního souboru: {{ ensemble.name }}</h3>
    <!-- Info section -->
    <div class="row">
        <div class="col-12">
            <p class="fs-5 text-muted">Informace o komorním souboru</p>
        </div>

        <div class="col col-md-8 col-lg-6">
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Informace o souboru</h5>
                </div>
                <div class="card-body">
                    <!-- Zadané skladby ke studiu -->
                    <div class="mb-4">
                        <h6 class="text-muted">Zadané skladby ke studiu</h6>
                        {% if ensemble.active_ensemble_assignments %}
                            {% for a in ensemble.active_ensemble_assignments %}
                                {% if not a.ended %}
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <span>{{ a.composition.composer.full_name }} - {{ a.composition.name }}</span>
                                        <div>
                                            <a href="{{ url_for('ensemble.assign_composition', ensemble_id=ensemble.id) }}"
                                               class="btn btn-primary btn-sm mb-2 me-2">
                                                <i class="fas fa-edit"></i> Změnit
                                            </a>
                                            <form method="POST"
                                                  action="{{ url_for('ensemble.unassign_composition', ensemble_id=ensemble.id, ensemble_assignment_id=a.id) }}"
                                                  class="d-inline">
                                                <button type="submit" class="btn btn-danger btn-sm mb-2 me-2">
                                                    <i class="fas fa-trash"></i> Odebrat
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            Žádné skladby
                            <a href="{{ url_for('ensemble.assign_composition', ensemble_id=ensemble.id) }}"
                               class="btn btn-outline-success btn-sm">
                                Zadat
                            </a>
                        {% endif %}
                    </div>

                    <hr>
                    <!-- Hodinová dotace -->
                    <div class="mb-4">
                        {% if ensemble.hour_donation %}
                            <h6 class="text-muted d-inline">Hodinová dotace:
                                {{ ensemble.hour_donation }}h
                                {% if ensemble.remaining_hour_donation and ensemble.remaining_hour_donation != 0 %}
                                    (Nerozděleno: {{ ensemble.remaining_hour_donation }}h)
                                {% endif %}
                            </h6>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-warning btn-sm d-inline ms-2"
                                    data-bs-toggle="modal"
                                    data-bs-target="#HourDonationForm">
                                Změnit
                            </button>

                        {% else %}
                            <h6 class="text-muted d-inline">Hodinová dotace nezadána</h6>
                            <button type="button" class="btn btn-outline-info btn-sm d-inline ms-2"
                                    data-bs-toggle="modal"
                                    data-bs-target="#HourDonationForm">
                                Doplnit
                            </button>
                        {% endif %}

                        <!-- Hour Donation Modal -->
                        <div class="modal fade" id="HourDonationForm" tabindex="-1"
                             aria-labelledby="HourDonationFormLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Hodinová dotace komorního souboru</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <form method="POST"
                                          action="{{ url_for('ensemble.set_hour_donation', ensemble_id=ensemble.id) }}"
                                          class="d-inline">
                                        {{ hour_donation_form.hidden_tag() }}
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                {{ hour_donation_form.hour_donation.label(class="form-label") }}
                                                {{ hour_donation_form.hour_donation(class="form-select") }}
                                                {% if hour_donation_form.hour_donation.errors %}
                                                    <div class="invalid-feedback">
                                                        {% for error in hour_donation_form.hour_donation.errors %}
                                                            {{ error }}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Zavřít
                                            </button>
                                            <button type="submit" class="btn btn-primary">Uložit hodinovou dotaci
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Obsazení a hráči -->
                    <div class="mb-4">
                        <h6 class="text-muted">Obsazení a hráči</h6>
                        <p><b>{{ ensemble.instrumentation_text }}</b></p>
                        <p>Počet hráčů: {{ ensemble.count_ensemble_players }}</p>
                        {% if not ensemble.no_assigned_student %}
                            <p>Obsazených studentů: {{ ensemble.count_assigned_students }}</p>
                        {% endif %}
                    </div>

                    <!-- Kompletnost -->
                    <div class="mb-4">
                        <h6 class="text-muted">Kompletnost</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: {{ ensemble.student_completeness }}%;"
                                 aria-valuenow="{{ ensemble.student_completeness }}" aria-valuemin="0"
                                 aria-valuemax="100">
                                {{ ensemble.student_completeness }}%
                            </div>
                        </div>
                        {% if ensemble.missing_instruments %}
                            <small class="text-danger">
                                Chybí:
                                {% for i in ensemble.missing_instruments %}
                                    {{ i }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </small>
                        {% endif %}
                    </div>

                    <hr>
                    <!-- Pedagog -->
                    <div>
                        <h6 class="text-muted d-inline">Pedagog</h6>

                        {% if ensemble.teacher_assignments %}
                            {% for a in ensemble.teacher_assignments %}
                                {% if not a.ended %}
                                    <div>
                                        <div class="d-inline justify-content-between align-items-center mb-2">
                                            <span class="d-inline me-1">{{ a.teacher.name }} (Hodinová dotace: {{ a.hour_donation }})</span>
                                            {#<!-- Change Hours modal Button -->
                                            <button type="button" class="btn btn-sm btn-outline-warning d-inline" data-bs-toggle="modal"
                                                    data-bs-target="#ChangeHoursModal">
                                                <i class="fas fa-minus me-1"></i> Změnit hodiny
                                            </button>

                                            <!-- Change Hours modal -->
                                            <div class="modal fade" id="ChangeHoursModal" tabindex="-1"
                                                 aria-labelledby="ChangeHoursModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Změnit hodinovou dotaci pedagoga</h1>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            ...
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                            <button type="button" class="btn btn-primary">Save changes
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>#}
                                            <form method="post"
                                                  action="{{ url_for('ensemble.unassign_teacher', teacher_assignment_id=a.id) }}"
                                                  class="d-inline ms-2">
                                                <button class="btn btn-sm btn-outline-danger d-inline">
                                                    <i class="fas fa-minus me-1"></i> Odebrat
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div>
                                {% if ensemble.remaining_hour_donation != 0 %}
                                    <!-- Button to assign another teacher -->
                                    <button type="button" class="btn btn-outline-info btn-sm mt-2"
                                            data-bs-toggle="modal"
                                            data-bs-target="#AssignTeacherForm">
                                        Přiřadit dalšího pedagoga
                                    </button>
                                {% else %}
                                    <p>Byl vyčerpán počet hodin. Pro přidání pedagoga navyšte hodinovou dotaci.</p>
                                {% endif %}
                            </div>
                        {% else %}
                            <span>Žádný pedagog</span>

                            <!-- Button to assign a teacher -->
                            <button type="button" class="btn btn-outline-info btn-sm ms-2" data-bs-toggle="modal"
                                    data-bs-target="#AssignTeacherForm">
                                Přiřadit pedagoga
                            </button>
                        {% endif %}
                    </div>

                    <!-- Assign Teacher Modal -->
                    <div class="modal fade" id="AssignTeacherForm" tabindex="-1"
                         aria-labelledby="AssignTeacherFormLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Přiřadit pedagoga</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <form method="POST"
                                      action="{{ url_for('ensemble.assign_teacher', ensemble_id=ensemble.id) }}"
                                      class="d-inline">
                                    {{ hour_donation_form.hidden_tag() }}
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            {{ teacher_assignment_form.teacher_id.label(class="form-label") }}
                                            {{ teacher_assignment_form.teacher_id(class="form-select") }}
                                            {% if teacher_assignment_form.teacher_id.errors %}
                                                <div class="invalid-feedback">
                                                    {% for error in hour_donation_form.teacher_id.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                            {{ teacher_assignment_form.hour_donation.label(class="form-label") }}
                                            {{ teacher_assignment_form.hour_donation(class="form-select") }}
                                            {% if teacher_assignment_form.hour_donation.errors %}
                                                <div class="invalid-feedback">
                                                    {% for error in hour_donation_form.hour_donation.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Zavřít
                                        </button>
                                        <button type="submit" class="btn btn-primary">Přiřadit pedagoga
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- EnsemblePlayer section -->
    <div class="row">
        <h5 class="mb-4">Členové souboru</h5>

        <!-- Loop through players -->
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <thead>
                <tr>
                    <th scope="col">Jméno</th>
                    <th scope="col">Nástroj</th>
                    <th scope="col">Ročník</th>
                    <th scope="col">Katedra</th>
                    <th scope="col">Akce</th>
                </tr>
                </thead>
                <tbody>
                {% for player in ensemble.ensemble_players %}
                    <tr>
                        <td>
                            {% if player.active_student %}
                                <b>{{ player.active_student.last_name }} {{ player.active_student.first_name }}</b>
                            {% else %}
                                Tento hráč nemá přiřazeného studenta.
                            {% endif %}
                        </td>
                        <td>
                            {% if player.active_student %}
                                <b>{{ player.active_student.instrument.name }}</b>
                            {% else %}
                                {% if player.instrument.name %}
                                    {{ player.instrument.name }}
                                {% else %}
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                            data-bs-target="#exampleModalCenter">
                                        Přiřadit nástroj
                                    </button>

                                    <!-- Add Player Instrument Modal -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Přidat nástroj
                                                        hráči</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <form method="POST"
                                                      action="{{ url_for('ensemble.assign_player_instrument', player_id=player.id) }}">

                                                    {{ instrument_form.hidden_tag() }}
                                                    <!-- To include CSRF protection -->

                                                    <div class="modal-body">
                                                        <div class="mb-3">
                                                            {{ instrument_form.instrument_id.label(class="form-label") }}
                                                            {{ instrument_form.instrument_id(class="form-select") }}
                                                            <!-- Bootstrap Select Field -->
                                                            {% if instrument_form.instrument_id.errors %}
                                                                <div class="invalid-feedback">
                                                                    {% for error in instrument_form.instrument_id.errors %}
                                                                        {{ error }}
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Zavřít
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Uložit změny
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if player.active_student %}
                                {% if not player.active_student.guest %}
                                    <b>{{ player.active_student.class_year.number }}. {{ player.active_student.study_program.name }}</b>
                                {% else %}
                                    Host
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if player.active_student %}
                                <b>{{ player.active_student.department.name }}</b>
                            {% endif %}
                        </td>
                        <td class="text-end">
                            <div class="d-inline-block">
                                {% if player.active_student %}
                                    <!-- Remove Student -->
                                    <form method="POST" class="d-inline"
                                          action="{{ url_for('ensemble.unassign_student', active_student_assignment=player.active_student_assignment.id) }}">
                                        {% if not player.active_student.guest %}
                                            <button class="btn btn-danger btn-sm">
                                                <i class="fas fa-trash me-1"></i> Odebrat studenta
                                            </button>
                                        {% else %}
                                            <button class="btn btn-danger btn-sm">
                                                <i class="fas fa-trash me-1"></i> Odebrat hosta
                                            </button>
                                        {% endif %}
                                    </form>
                                {% else %}
                                    {% if player.instrument.name %}
                                        <!-- Assign Student -->
                                        <a href="{{ url_for('ensemble.assign_student', ensemble_player_id=player.id) }}"
                                           class="btn btn-success btn-sm">
                                            <i class="fas fa-plus me-1"></i> Přiřadit studenta
                                        </a>
                                        <!-- Assign Guest -->
                                        <a href="{{ url_for('ensemble.assign_guest', ensemble_player_id=player.id) }}"
                                           class="btn btn-info btn-sm">
                                            <i class="fas fa-plus me-1"></i> Přiřadit hosta
                                        </a>
                                    {% endif %}
                                {% endif %}

                                <!-- Delete Ensemble Player -->
                                <form method="POST" class="d-inline"
                                      action="{{ url_for('ensemble.delete_ensemble_player', ensemble_player_id=player.id) }}">
                                    <button type="submit" class="btn btn-secondary btn-sm">
                                        <i class="fas fa-trash me-1"></i> Odstranit
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <!-- Add New Ensemble Player -->
                <tr>
                    <td colspan="5" class="text-center">
                        <form method="POST"
                              action="{{ url_for('ensemble.add_ensemble_player', ensemble_id=ensemble.id) }}">
                            <button class="btn btn-success">
                                <i class="fas fa-plus me-1"></i> Přidat dalšího hráče
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Aktivity</h5>
                </div>
                <div class="card-body">
                    {% for activity in ensemble_activities_list %}
                        <p>{{ activity.date }} {{ activity.details }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>



{% endblock %}
