{% macro render_modal_form(modal_id, modal_title, form, form_id, action_url, submit_label) %}
    <div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="{{ modal_id }}Label">{{ modal_title }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="{{ form_id }}" method="POST" action="{{ action_url }}">
                    <div class="modal-body">
                        {{ form.hidden_tag() }}

                        {% for field in form %}
                            {% if field.type != 'CSRFToken' and field.type != 'SubmitField' %}
                                <div class="mb-3">
                                    {{ field.label(class="form-label") }}
                                    {{ field(class="form-control") }}
                                    {% if field.errors %}
                                        <div class="text-danger">
                                            {% for error in field.errors %}
                                                <span>{{ error }}</span><br>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
                        <button type="submit" class="btn btn-primary">{{ submit_label }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endmacro %}
