<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="{{ url_for('dashboard.home_view') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Struktura</div>
                {% if current_user.is_admin %}
                    <a class="nav-link" href="{{ url_for('structure.show_students') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-graduation-cap"></i></div>
                        Studenti
                    </a>
                {% endif %}
                {% if current_user.is_admin %}
                    <a class="nav-link" href="{{ url_for('structure.show_guests') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-people-arrows"></i></div>
                        Hosté
                    </a>
                {% endif %}
                <a class="nav-link" href="{{ url_for('structure.show_teachers') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-person-chalkboard"></i></div>
                    Pedagogové
                </a>
                <a class="nav-link" href="{{ url_for('ensemble.show_ensembles') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Komorní soubory
                </a>
                <a class="nav-link" href="{{ url_for('structure.show_academic_years') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-people-arrows"></i></div>
                    Akademické roky
                </a>
                <div class="sb-sidenav-menu-heading">Nastavení</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                   aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Knihovna
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{{ url_for('library.show_compositions') }}">Skladby</a>
                        <a class="nav-link" href="{{ url_for('library.show_composers') }}">Skladatelé</a>
                    </nav>
                </div>


                <!-- <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Repertoár
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a> -->
                <!-- <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                            Authentication
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="login.html">Login</a>
                                <a class="nav-link" href="register.html">Register</a>
                                <a class="nav-link" href="password.html">Forgot Password</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                            Error
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="401.html">401 Page</a>
                                <a class="nav-link" href="404.html">404 Page</a>
                                <a class="nav-link" href="500.html">500 Page</a>
                            </nav>
                        </div>
                    </nav>
                </div>
                <div class="sb-sidenav-menu-heading">Addons</div>
                <a class="nav-link" href="charts.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Charts
                </a> -->
                {% if current_user.is_admin %}
                    <a class="nav-link" href="{{ url_for('settings.import_home') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-gears"></i></div>
                        Import
                    </a>
                {% endif %}
                {% if current_user.is_admin %}
                    <a class="nav-link" href="{{ url_for('settings.export_console') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-export"></i></div>
                        Export
                    </a>
                {% endif %}
                <a class="nav-link" href="{{ url_for('user_management.users') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Uživatelé
                </a>

                <a class="nav-link" href="{{ url_for('user_management.roles') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Role
                </a>
                <a class="nav-link" href="{{ url_for('user_management.modules') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Moduly
                </a>
                <!-- <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Tables
                </a> -->

            </div>
        </div>
        {% if current_user.is_authenticated %}
            <div class="sb-sidenav-footer">
                <div class="small">Přihlášený:</div>
                {{ current_user.first_name }} {{ current_user.last_name }}
            </div>
        {% endif %}

    </nav>
</div>