{% extends "index.html" %}

{% block content %}
    <h1 class="mt-4">Správa modulů</h1>
    <div class="row">
        <p>Místo, kde můžete upravovat moduly.</p>
    </div>

    <div class="row mb-2">
        <!-- Filtering navbar -->
        {% include "/elements/modules_filtering_navbar.html" %}
    </div>

    <div class="row mb-2">


        <!-- Tabulka Basic -->
        <div class="card-body">
            <table id="datatableModules">
                <thead>
                <tr>
                    <th>Název</th>
                    <th>Uživatelé</th>
                    <th>Akce</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Název</th>
                    <th>Uživatelé</th>
                    <th>Akce</th>
                </tr>
                </tfoot>
                <tbody>

                {% for module in modules %}
                    <tr>
                        <td>{{ module.name }}</td>
                        <td>{% for user in module.all_users %}{{ user.username }}{% if not loop.last %},
                        {% endif %}{% endfor %}</td>
                        <td>
                            <a href="#">Edit</a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <!-- Student JavaScript table settings -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const dataTable = new simpleDatatables.DataTable("#datatableModules", {
                labels: {
                    placeholder: "Hledat",
                    perPage: "záznamů na stránku",
                    noRows: "Žádné záznamy k zobrazení",
                    info: "Zobrazeno {start} až {end} z {rows} záznamů",
                    loading: "Načítání...",
                    next: "Další",
                    previous: "Předchozí",
                },
                perPage: 10,
                perPageSelect: [10, 20, 30, 40, 50],
                searchable: true,
            });
        });
    </script>
{% endblock %}
